<template>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <nuxt />
      </div>
      <div class="col-md-4">
        sidebar
      </div>
    </div>
  </div>
</template>
